[user]
  name = Jacky Chiu
  email = jackyzhanchiu@gmail.com

[core]
  excludesfile = /Users/jackychiu/.gitignore_global

[url "git@github.com:"]
  insteadOf = https://github.com/
[diff]
	algorithm = patience
[protocol]
	version = 2
